<div>
    <div class="index index-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a href="/">
                        <img class="img-responsive logo" width="191" height="200" src="/img/logo.png"/>
                    </a>
                </div>
                <div class="col-xs-9 about pull-right" data-lift="Loc.i">About</div>
            </div>
        </div>
    </div>

    <div class="index index-2">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" data-lift="Loc.i">How to begin</div>
            </div>
        </div>
    </div>

    <div class="index index-3">
        <div class="container">
            <div class="row" data-lift="Loc.i">About author</div>
        </div>
    </div>
</div>
