<div>
    <div class="container">
        <div class="row index index-1">
            <div class="col-xs-3">
                <a href="/index">
                    <img width="191" height="200" src="/img/logo.png"/>
                </a>
            </div>
            <div class="col-xs-9">
                <h1>Регистрация</h1>

                <form class="form-horizontal" role="form" name="form" data-lift="User.registerHandler"
                        register-form>
                    <div class="form-group" ng-class="{'has-error': form.email.$invalid}">
                        <label for="email" class="col-lg-2 control-label" data-lift="Loc.i">Email</label>

                        <div class="col-lg-10">
                            <input id="email" type="email" class="form-control" placeholder="Email"
                                    data-lift="User.email" data-lift="LocAttrs"
                                    name="email" disabled>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.firstName.$invalid}">
                        <label for="firstName" class="col-lg-2 control-label" data-lift="Loc.i">First name</label>

                        <div class="col-lg-10">
                            <input id="firstName" type="text" class="form-control" placeholder="First name"
                                   data-lift="LocAttrs" name="firstName" ng-model="model.firstName" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.lastName.$invalid}">
                        <label for="lastName" class="col-lg-2 control-label" data-lift="Loc.i">Last name</label>

                        <div class="col-lg-10">
                            <input id="lastName" type="text" class="form-control" placeholder="Last name"
                                   data-lift="LocAttrs" name="lastName" ng-model="model.lastName" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.passwd.$invalid}">
                        <label for="password" class="col-lg-2 control-label" data-lift="Loc.i">Password</label>

                        <div class="col-lg-10">
                            <input id="password" type="password" class="form-control" placeholder="Password"
                                    data-lift="LocAttrs"
                                    name="passwd" ng-model="model.password" required>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': form.passwd.$invalid}">
                        <label for="password" class="col-lg-2 control-label" data-lift="Loc.i">Repeat password</label>

                        <div class="col-lg-10">
                            <input id="password2" type="password" class="form-control" placeholder="Password"
                                   data-lift="LocAttrs"
                                   name="passwd2" ng-model="passwordRepeat" required>
                        </div>
                    </div>
                    <div class="alert alert-danger" data-lift="Loc.i"
                            ng-hide="form.passwd.$pristine || form.passwd2.$pristine ||
                            passwordRepeat == model.password">Passwords aren't matched</div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <a type="submit" class="btn btn-default"
                                    ng-disabled="form.$invalid || passwordRepeat != model.password ||
                                    roundtripInProgress || registrationDone"
                                    ng-click="doRegister()">
                                <i class="icon-spin4 animate-spin" roundtrip-spinner></i>
                                <span data-lift="Loc.i">Do register</span></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
