<div>
    <div data-lift="Loc.i">Definition</div>
    <div definition data-lift="Definition.textHandler" class="definition">
        <div class="hint" data-lift="Loc.i" ng-hide="
            !context.text || context.completed || context.estimation != null">Describe initial</div>
        <div ng-controller="OldTextController" class="hint alert alert-info" data-lift="Loc.i" ng-hide="
            context.estimation == null || context.estimation == 10"
            bind-html="oldText"
        ></div>
        <div class="hint" data-lift="Loc.i" ng-hide="
            context.estimation == null || context.estimation == 10
        ">Think again</div>
        <div class="status-container">
            <form class="form-horizontal" role="form" name="form">
                <textarea id="mvz" name="mvz" class="form-control" rows="6" placeholder="Describe initial"
                          data-lift="LocAttrs"
                          ng-model="context.text" required
                          auto-rows
                          ng-disabled="context.completed || context.estimation == 10"></textarea>
            </form>
            <div data-lift="embed?what=auto_save_status"></div>
        </div>
        <div class="clearfix">
            <div class="pull-right complete-definition" data-lift="Definition.completeHandler">
                <a class="btn btn-link" ng-click="completeDefinition()" ng-controller="CompleteDefinitionController"
                   ng-disabled="form.mvz.$invalid" ng-hide="context.completed || context.estimation == 10">
                    <i roundtrip-spinner class="icon-spin4 animate-spin"></i>
                    <span data-lift="Loc.i">Complete definition</span></a>
            </div>
        </div>
        <div ng-show="context.completed && context.estimation == null" class="estimation" ng-show="context.completed"
             data-lift="Definition.estimationHandler">
            <div class="hint" data-lift="Loc.i">Do estimate</div>
            <div class="btn-group" data-lift="Service.estimations" ng-controller="EstimateController">
                <button type="button" class="btn btn-primary" ng-click="estimate($event)"></button>
            </div>
        </div>
        <div ng-show="context.estimation == 10">
            <div class="confirmation" ng-hide="yesClicked || noClicked">
                <div data-lift="Loc.i" class="hint">Look and confirm</div>
                <div>
                    <button class="btn btn-danger" ng-click="noClicked = true;"><span data-lift="Loc.i">No</span>
                    </button>
                    <button class="btn btn-primary" ng-click="yesClicked = true;"><span
                            data-lift="Loc.i">Yes. Exactly!</span></button>
                </div>
            </div>
            <form ng-show="yesClicked" class="form-horizontal" role="form" name="yesForm"
                    data-lift="Material.materialsHandler"
                    ng-init="positives = ['']; positivesProto = ['']; positivesEstimations = [];
                    negatives = ['']; negativesProto = ['']; negativesEstimations = [];">
                <h3 class="hint" data-lift="Loc.i">Describe negative</h3>
                <div ng-repeat="n in negativesProto">
                    <div class="status-container">
                        <textarea class="form-control" rows="6" placeholder="Describe negative. Help"
                                  data-lift="LocAttrs"
                                  ng-disabled="negativeAccepted"
                                  ng-model="negatives[$index]" required></textarea>
                        <div class="status" ng-show="negatives.length > 1 && !negativeAccepted">
                            <a class="btn btn-warning pull-right" data-lift="Loc.i"
                                    ng-click="negatives.splice($index, 1);
                                    negativesEstimations.splice($index, 1);
                                    negativesProto.splice($index, 1);">Remove</a>
                        </div>
                    </div>
                    <div class="confirmation" ng-show="negatives[$index]">
                        <div data-lift="Loc.i" ng-hide="negativesEstimations[$index] != null">Negative estimation</div>
                        <div class="btn-group" data-lift="Service.estimations?from=-10&to=0"
                                estimation="negativesEstimations">
                            <button type="button" class="btn btn-primary" ng-click="estimate($event)"
                                    ng-disabled="negativeAccepted"></button>
                        </div>
                    </div>
                </div>
                <div class="confirmation" ng-show="!negativeAccepted">
                    <a class="btn btn-danger" ng-click="negativesProto.push(''); negatives.push('');"
                       ng-disabled="!negatives[negatives.length - 1] || negativesEstimations[negatives.length - 1] == null"><span
                            data-lift="Loc.i">Add</span></a>
                    <button class="btn btn-danger" ng-click="negativeAccepted = true;"
                            ng-disabled="!negatives[negatives.length - 1] || negativesEstimations[negatives.length - 1] == null"><span
                            data-lift="Loc.i">Continue</span></button>
                </div>
                <div ng-show="negativeAccepted">
                    <h3 class="hint" data-lift="Loc.i">Describe positive</h3>
                    <div ng-repeat="p in positivesProto">
                        <div class="status-container">
                            <textarea class="form-control" rows="6" placeholder="Describe positive. Help"
                                      data-lift="LocAttrs"
                                      ng-model="positives[$index]" required
                                      ng-disabled="roundtripInProgress"></textarea>
                            <div class="status" ng-show="positives.length > 1 && !roundtripInProgress">
                                <a class="btn btn-warning pull-right" data-lift="Loc.i"
                                   ng-click="positives.splice($index, 1);
                                    positivesEstimations.splice($index, 1);
                                    positivesProto.splice($index, 1);">Remove</a>
                            </div>
                        </div>
                        <div class="confirmation" ng-show="positives[$index]">
                            <div data-lift="Loc.i" ng-hide="positivesEstimations[$index] != null">Positive estimation</div>
                            <div class="btn-group" data-lift="Service.estimations?from=0&to=10"
                                 estimation="positivesEstimations">
                                <button type="button" class="btn btn-primary" ng-click="estimate($event)"
                                        ng-disabled="roundtripInProgress"></button>
                            </div>
                        </div>
                    </div>
                    <div class="confirmation">
                        <a class="btn btn-danger" ng-click="positivesProto.push(''); positives.push('');"
                           ng-disabled="!positives[positives.length - 1] || positivesEstimations[positives.length - 1] == null"><span
                                data-lift="Loc.i">Add</span></a>
                        <a class="btn btn-danger" ng-click="sendData(positives.concat(negatives));"
                           ng-disabled="roundtripInProgress || !positives[positives.length - 1] || positivesEstimations[positives.length - 1] == null"><span
                                data-lift="Loc.i">Continue</span></a>
                    </div>
                </div>
            </form>
            <form ng-show="noClicked" class="form-horizontal" role="form" name="noForm"
                    data-lift="ScaleUp.fromDefinition">
                <div class="hint" data-lift="Loc.i">What will really happen?</div>
                <textarea id="positives" name="realProblem" class="form-control" rows="6" placeholder="Describe what will really happen"
                          data-lift="LocAttrs"
                          ng-model="realProblem" required></textarea>
                <div class="confirmation">
                    <button class="btn btn-danger" ng-click="sendData(realProblem)"
                            ng-disabled="roundtripInProgress || !realProblem"><span
                            data-lift="Loc.i">Continue</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
