<resources>
    <res name="Main"><i class="glyphicon glyphicon-home"></i> <span>Главная</span></res>

    <res name="SiteName">ЛайфПро</res>
    <res name="Login/Register">Вход/Регистрация</res>
    <res name="Login">Вход</res>
    <res name="Register"><span>Регистрация</span></res>
    <res name="Do register">Зарегистрироваться</res>
    <res name="Send">Отправить</res>
    <res name="Login to system">Войти на сайт</res>
    <res name="Close">Закрыть</res>
    <res name="Email">E-mail</res>
    <res name="Exit">Выход</res>
    <res name="First name">Имя</res>
    <res name="Last name">Фамилия</res>
    <res name="Password">Пароль</res>
    <res name="Repeat password">Пароль еще раз</res>
    <res name="New password">Новый пароль</res>
    <res name="Repeat new password">Новый пароль еще раз</res>
    <res name="Reset password">Сбросить пароль</res>
    <res name="Passwords aren't matched">Пароли не совпадают</res>
    <res name="Registration">Регистрация</res>
    <res name="Registration continue %s">Продолжение регистрации %s</res>
    <res name="Bad credentials">Неверный логин и пароль</res>
    <res name="Register instruction">Введите ваш e-mail. Мы вышлем инструкции для завершения регистрации.</res>
    <res name="Restore password instruction">Введите ваш e-mail. Мы вышлем инструкции для восстановления пароля.</res>
    <res name="E-mail already registered">Пользователь с таким e-mail уже зарегистрирован. Попробуйте <a
        ng-click="restorePassword()">восстановить пароль</a>, если вы его забыли.</res>
    <res name="E-mail not registered">Этот e-mail не зарегистрирован. Сначала Вам необходимо пройти <a
        ng-click="register()">регистрацию</a>.</res>
    <res name="Check your e-mail box">Проверьте Ваш почтовый ящик. Следуйте полученным инструкциям для продолжения
        регистрации.</res>
    <res name="Check your e-mail box for password">Проверьте Ваш почтовый ящик. Следуйте полученным инструкциям для
        восстановления пароля.</res>

    <res name="Hello user">Здравствуйте, %s</res>

    <res name="Lifepro registration">Регистрация LifePro</res>
    <res name="Finalize registration e-mail body">Здравсвтуйте!

Ваш e-mail был указан для регистрации на сайте %s.

Для продолжения регистрации пройдите по ссылке %s.

Если вы считаете, что получили это письмо по ошибке, пожалуйста, просто проигнорируйте его.
    </res>

    <res name="Password reset">Сброс пароля LifePro</res>
    <res name="Password reset %s">Сброс пароля LifePro для %s</res>
    <res name="Password reset e-mail body">Здравствуйте!

Вы просили помочь восстановить ваш пароль на сайте %s.

Для сброса пароля пройдите по ссылке %s.

Если вы считаете, что получили это письмо по ошибке, пожалуйста, просто проигнорируйте его.</res>


    <res name="Diagnostics"><i class="glyphicon glyphicon-search bg-icon"></i><span>Диагностика</span></res>
    <res name="Material"><i class="glyphicon glyphicon-folder-open bg-icon reflect-x"></i><span>Материал</span></res>
    <res name="Instruments"><i class="glyphicon glyphicon-compressed bg-icon"></i><span>Инструменты</span></res>
    <res name="Conclusions"><i class="glyphicon glyphicon-pencil bg-icon reflect-x"></i><span>Выводы</span></res>

    <res name="Diagnostics Instructions"><i class="glyphicon glyphicon-info-sign bg-icon"></i><span>Инструкция к разделу</span></res>
    <res name="Diagnostics Definition"><i class="glyphicon glyphicon-globe bg-icon"></i><span>Момент воплощения замысла</span></res>
    <res name="Material Instructions"><i class="glyphicon glyphicon-info-sign bg-icon"></i><span>Инструкция к разделу</span></res>
    <res name="Material List"><i class="glyphicon glyphicon-list bg-icon"></i><span>Материал для проработки</span></res>
    <res name="Instruments Instructions"><i class="glyphicon glyphicon-info-sign bg-icon"></i><span>Инструкция к разделу</span></res>
    <res name="Scale Up"><i class="glyphicon glyphicon-road bg-icon"></i><span>ГППШ</span></res>
    <res name="TT"><i class="glyphicon glyphicon-ok bg-icon"></i><span>ТТ</span></res>
    <res name="Conclusions Instructions"><i class="glyphicon glyphicon-info-sign bg-icon"></i><span>Инструкция к разделу</span></res>
    <res name="Conclusions List"><i class="glyphicon glyphicon-book bg-icon"></i><span>Личный кодекс</span></res>

    <res name="Changes saved">Изменения сохранены</res>
    <res name="Saving">Сохранение...</res>
    <res name="Create popup material"><i class="glyphicon glyphicon-record bg-icon"></i><span>Создать всплывающий материал</span></res>

    <res name="Describe popup material">Опишите ситуацию или ощущения, чувства, которые хотели бы проработать</res>
    <res name="Create material">Создать материал</res>

    <res name="Continue">Продолжить</res>
    <res name="Read again">Еще раз прочитайте ваше описание, помедитируйте над ним. Убедитесь что оно полное и
        исчерпывающее. дополните его по необходимости
    </res>
    <res name="Ok. Thinking">Хорошо, я медитирую</res>
    <res name="All correct. Continue.">Продолжить, Все правильно!</res>
    <res name="What will really happen?">А что будет на самом деле? Опишите ситуацию из вашего прошлого опыта, показывающую, что будет именно так?</res>
</resources>
