<div class="status">
    <div roundtrip-spinner>
        <i class="icon-spin4 animate-spin"></i>
        <span data-lift="Loc.i">Saving</span>
    </div>
    <div class="alert alert-danger" ng-show="roundtripFailed" data-lift="Loc.i">Error. Save your data</div>
    <div class="alert alert-danger" bind-html="error"></div>
    <div class="alert alert-success" bind-html="flashInfo" flash="2000"></div>
</div>
