<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

    <title data-lift="Title.joined">SiteName</title>

    <link data-lift="Resource.css?src=bootstrap/bootstrap.css" media="screen"/>
    <link data-lift="Resource.css?src=global.css"/>
    <link data-lift="Resource.css?src=services.css"/>
    <link data-lift="Resource.css?src=material-list.css"/>

    <link rel="stylesheet" href="/css/fontello.css"/>
    <link rel="stylesheet" href="/css/animation.css"/>

    <link data-lift="IEConditionals"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>

    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" id="jquery"></script>
    <script id="json" src="/classpath/json.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.2/angular.min.js"></script>
    <script data-lift="Resource.script?src=global.js"></script>
    <script data-lift="Resource.script?src=services.js"></script>
    <script data-lift="Resource.script?src=material-list.js"></script>

</head>
<body ng-app="lifepro">
<div class="header hide" ng-class="{show: sectionLoaded}">
    <div class="container">
        <div class="row">
            <div class="pull-right" user-menu>
                <div data-lift="embed?what=user_menu"></div>
            </div>
        </div>
    </div>
</div>

<div id="main" section-include="1"></div>

<div class="footer hide" ng-class="{show: sectionLoaded}">
    <div class="container">
        <div class="col-sm-11">
            <img class="copy" src="/img/copy.png"/>

            <div class="copy">2013 / All right reserved<br/>Все права защищены</div>
        </div>
        <div class="col-sm-1 pull-right">
            <a class="btn btn-link up" scroll-top ng-click="scrollTop($event)">
                <img src="/img/up-arrow.png"/><br/>
                наверх
            </a>
        </div>
    </div>
</div>

<div data-lift="embed?what=metrica"></div>
<div data-lift="embed?what=reformal"></div>

</body>
</html>
