<div ng-controller="ConfirmBodyController">
    <div ng-show="!bodyConfirmed" class="confirmation">
        <button class="btn btn-danger" ng-disabled="!context.body" class="ng-cloak" ng-cloak
                disabled="true"
                ng-click="confirmBody(false)"><span data-lift="Loc.i">Continue</span>
        </button>
    </div>
    <div ng-show="bodyConfirmed && !context.bodyConfirmed" class="confirmation">
        <div data-lift="Loc.i" class="hint">Read again</div>
        <div>
            <button class="btn btn-danger" ng-click="thinkAgain()">
                <span data-lift="Loc.i">Ok. Thinking</span>
            </button>
            <button class="btn btn-primary" ng-click="confirmBody(true)">
                <span data-lift="Loc.i">All correct. Continue.</span>
            </button>
        </div>
    </div>
</div>
