<div>
    <script type="text/javascript">
        var reformalOptions = {
            project_id: 236509,
            project_host: "lifepro.reformal.ru",
            tab_orientation: "right",
            tab_indent: "50%",
            tab_bg_color: "#0bd629",
            tab_border_color: "#FFFFFF",
            tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0L%252FRgNC10LTQu9C%252B0LbQtdC90LjRjw==/FFFFFF/88128dfd6ca0743b5ccc2f8afed9f3b1/right/0/tab.png",
            tab_border_width: 2
        };

        (function () {
            var script = document.createElement('script');
            script.type = 'text/javascript';
            script.async = true;
            script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
            document.getElementsByTagName('head')[0].appendChild(script);
        })();
    </script>
    <noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png"/></a><a
            href="http://lifepro.reformal.ru">Oтзывы и предложения для ЛайфПро</a></noscript>
</div>
