<div class="col-xs-3 service-menu">
    <div class="service-section-menu" data-offset-top="290" affix>
        <a data-lift="Service.menu?level=3" class="btn btn-service" tooltip-button></a>
        <hr>
        <a class="btn btn-service red" data-lift="LocAttrs.i" tooltip-button
           data-toggle="modal" data-target="#createPopupMaterial" title="Create popup material">Create popup material</a>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="createPopupMaterial" tabindex="-1" role="dialog"
         aria-labelledby="createPopupMaterialLabel" aria-hidden="true" data-lift="Material.materialsHandler"
         popup-material>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="createPopupMaterialLabel" data-lift="Loc.i">Create popup material</h4>
                </div>
                <div class="modal-body">
                    <textarea id="popupMaterial" name="popupMaterial" class="form-control" rows="15"
                              placeholder="Describe popup material"
                              data-lift="LocAttrs"
                              ng-model="popupMaterial" required></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-lift="Loc.i">Close</button>
                    <button type="button" class="btn btn-primary"
                            ng-disabled="!popupMaterial || roundtripInProgress"
                            ng-click="send()"><i class="icon-spin4 animate-spin" roundtrip-spinner></i><span
                            data-lift="Loc.i">Create material</span></button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
