<div login-window data-lift="User.loginHandler">
    <a class="btn btn-link" ng-click="openForm()"><i class="glyphicon glyphicon-user"></i>
        <span data-lift="Loc.i">Login/Register</span></a>

    <div id="loginForm" class="popover">
        <div class="popover-content">
            <form role="form" name="form">
                <fieldset ng-disabled="roundtripInProgress">
                    <div class="row form-group" ng-class="{'has-error': !form.email.$pristine && form.email.$invalid}">
                        <div class="col-xs-12">
                            <input type="email" class="form-control" id="inputEmail"
                                   placeholder="Email"
                                   data-lift="LocAttrs"
                                   name="email"
                                   ng-model="email"
                                   required email>
                        </div>
                    </div>
                    <div class="row form-group" ng-class="{'has-error': !form.passwd.$pristine && form.passwd.$invalid}"
                            ng-show="LoginMode">
                        <div class="col-xs-12">
                            <input type="password" class="form-control" id="inputPassword"
                                   placeholder="Password"
                                   data-lift="LocAttrs"
                                   name="passwd"
                                   ng-model="passwd"
                                   required>
                        </div>
                    </div>
                    <div class="row form-group" ng-show="info || error || RegisterMode || RestoreMode">
                        <div class="col-xs-12">
                            <div id="infoBox" ng-show="!error">
                                <div ng-hide="info">
                                    <div class="alert alert-success" ng-show="RegisterMode" data-lift="Loc.i">Register instruction</div>
                                    <div class="alert alert-success" ng-show="RestoreMode" data-lift="Loc.i">Restore password instruction</div>
                                </div>
                                <div class="alert alert-success" bind-html="info" ng-show="info"></div>
                            </div>
                            <div id="errorBox" class="alert alert-danger" bind-html="error" ng-show="error"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-left">
                                <a class="btn btn-link" ng-click="switchMode()">
                                    <span ng-show="LoginMode" data-lift="Loc.i">Register</span>
                                    <span ng-show="RegisterMode || RestoreMode" data-lift="Loc.i">Login</span>
                                </a>
                            </div>
                            <div class="pull-right">
                                <a ng-click="closeForm()" class="btn btn-default" data-lift="Loc.i">Close</a>
                                <a class="btn btn-primary" ng-disabled="
                                    form.email.$invalid || (LoginMode && form.$invalid)"
                                    ng-click="submit()">
                                    <i class="icon-spin4 animate-spin" roundtrip-spinner></i>
                                    <span ng-show="LoginMode" data-lift="Loc.i">Login</span>
                                    <span ng-show="RegisterMode" data-lift="Loc.i">Register</span>
                                    <span ng-show="RestoreMode" data-lift="Loc.i">Send</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
