<div data-lift="User.logoutHandler" logout-handler>
    <a href="/service/diagnostics/" class="btn btn-link">
        <span data-lift="User.greeting"></span>
    </a>
    <a class="btn btn-default" ng-click="logout()">
        <i class="icon-spin4 animate-spin" roundtrip-spinner></i>
        <span data-lift="Loc.i">Exit</span></a>
</div>