<div data-lift="ScaleUp.attachMaterial" class="scale_up ng-cloak">
    <div data-lift="Loc.i">Scale Up Content</div>
    <div class="col-xs-12 alert alert-success" ng-show="context.childLinks.resolved.length > 0">
        <a class="btn btn-xs btn-info" ng-repeat="item in context.childLinks.resolved" href="{{item}}">
            <span data-lift="Loc.i">Subprocess</span> #{{$index + 1}}</a>
    </div>
    <div auto-save-text="context.body" data-lift="ScaleUp.bodyHandler" class="definition section col-xs-12">
        <div class="hint alert alert-info" data-lift="Loc.i"
             bind-html="context.previousBody"
             ng-show="context.previousBody"></div>
        <div class="hint" ng-show="context.body" bind-html="context.gsrp.intro"></div>
        <div class="status-container">
            <form class="form-horizontal" role="form" name="form">
                <textarea id="body" name="body" class="form-control" rows="6" placeholder="{{context.gsrp.intro | linearize}}"
                          ng-disabled="context.childLinks.blocking.length > 0 || context.conclusionConfirmed"
                          ng-model="context.body" required></textarea>
            </form>
            <div data-lift="embed?what=auto_save_status"></div>
        </div>
    </div>
    <div data-lift="ScaleUp.bodyConfirmHandler" ng-show="!context.bodyConfirmed" class="section">
        <div data-lift="embed?what=process_body_confirmation"></div>
    </div>
    <div ng-show="context.bodyConfirmed" class="section clearfix">
        <div>
            <div class="hint col-xs-6" data-lift="Loc.i">What feelings</div>
            <div class="hint col-xs-6" data-lift="Loc.i">What wishes</div>
        </div>
        <div>
            <div class="col-xs-6" data-lift="ScaleUp.feelingsHandler" auto-save-text="context.gsrp.feelings">
                <div class="status-container">
                    <form class="form-horizontal" role="form" name="form">
                        <textarea id="feelings" name="feelings" class="form-control" rows="10"
                                  data-lift="LocAttrs" placeholder="What feelings. Help"
                                  ng-model="context.gsrp.feelings" required
                                  ng-disabled="context.childLinks.blocking.length > 0 || context.conclusionConfirmed" ></textarea>
                    </form>
                    <div data-lift="embed?what=auto_save_status"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="status-container" data-lift="ScaleUp.wishesHandler" auto-save-text="context.gsrp.wishes">
                    <form class="form-horizontal" role="form" name="form">
                        <textarea id="wishes" name="wishes" class="form-control" rows="10"
                                  data-lift="LocAttrs" placeholder="What wishes. Help"
                                  ng-model="context.gsrp.wishes" required
                                  ng-disabled="context.childLinks.blocking.length > 0 || context.conclusionConfirmed"></textarea>
                    </form>
                    <div data-lift="embed?what=auto_save_status"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-lift="ScaleUp.estimationHandler" ng-show="context.bodyConfirmed" class="section">
        <div gsrp-estimate class="clearfix">
            <div ng-show="!context.feelingsWishesConfirmed" class="confirmation">
                <button class="btn btn-danger" ng-disabled="!context.gsrp.feelings || !context.gsrp.wishes"
                        ng-click="context.feelingsWishesConfirmed = true"><span data-lift="Loc.i">Continue</span>
                </button>
            </div>
            <div ng-show="context.feelingsWishesConfirmed" class="estimation">
                <div data-lift="Loc.i" class="hint">Estimate</div>
                <div>
                    <div class="btn-group" data-lift="Service.estimations?from=-10">
                        <button type="button" class="btn btn-primary" ng-click="estimate($event)"
                                ng-disabled="context.childLinks.blocking.length > 0 || context.conclusionConfirmed"
                                ></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-lift="ScaleUp.conclusionHandler" ng-show="context.gsrp.estimation == 10"
         auto-save-text="context.conclusion"
         class="clearfix col-xs-12">
        <div class="hint" ng-show="context.conclusion" data-lift="Loc.i">Write out conclusion</div>
        <div class="status-container">
            <form class="form-horizontal" role="form" name="form">
                <textarea id="conclusion" name="conclusion" class="form-control" rows="6"
                          placeholder="Write out conclusion"
                          data-lift="LocAttrs"
                          ng-disabled="context.childLinks.blocking.length > 0 || context.conclusionConfirmed"
                          ng-model="context.conclusion" required></textarea>
            </form>
            <div data-lift="embed?what=auto_save_status"></div>
        </div>
        <div data-lift="ScaleUp.conclusionConfirmHandler" ng-show="!context.conclusionConfirmed"
             class="section clearfix">
            <div confirm="context.conclusionConfirmed">
                <div class="confirmation">
                    <button class="btn btn-danger" ng-disabled="!context.conclusion"
                            ng-click="confirm()"><span data-lift="Loc.i">Continue</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="context.gsrp.estimation < 10" class="col-xs-12">
        <div class="hint" data-lift="Loc.i">What is most unpleasant</div>
        <div class="status-container section" data-lift="ScaleUp.mostUnpleasantHandler"
             auto-save-text="context.gsrp.mostUnpleasant">
            <form class="form-horizontal" role="form" name="form">
                <textarea id="mostUnpleasant" name="mostUnpleasant" class="form-control" rows="6"
                          placeholder="What is most unpleasant. Help" data-lift="LocAttrs"
                          ng-model="context.gsrp.mostUnpleasant"
                          ng-disabled="context.childLinks.blocking.length > 0 || context.conclusionConfirmed"
                          required></textarea>
            </form>
            <div data-lift="embed?what=auto_save_status"></div>
        </div>
        <div data-lift="ScaleUp.mostUnpleasantConfirmHandler" ng-show="!context.gsrp.mostUnpleasantConfirmed">
            <div confirm="context.gsrp.mostUnpleasantConfirmed">
                <div class="confirmation">
                    <button class="btn btn-danger" ng-disabled="!context.gsrp.mostUnpleasant"
                            ng-click="confirm()"><span data-lift="Loc.i">Continue</span>
                    </button>
                </div>
            </div>
        </div>
        <div ng-show="context.gsrp.mostUnpleasantConfirmed" class="section">
            <div class="hint" data-lift="Loc.i">What would you did differently</div>
            <div class="status-container" data-lift="ScaleUp.whatToChangeHandler" auto-save-text="context.gsrp.whatToChange">
                <form class="form-horizontal" role="form" name="form">
                    <textarea id="whatToChange" name="whatToChange" class="form-control" rows="6"
                              placeholder="What would you did differently. Help" data-lift="LocAttrs"
                              ng-model="context.gsrp.whatToChange"
                              ng-disabled="context.childLinks.blocking.length > 0 || context.conclusionConfirmed"
                              required></textarea>
                </form>
                <div data-lift="embed?what=auto_save_status"></div>
            </div>
            <div data-lift="ScaleUp.whatToChangeConfirmHandler" ng-show="!context.gsrp.whatToChangeConfirmed" class="section">
                <div confirm="context.gsrp.whatToChangeConfirmed">
                    <div class="confirmation">
                        <button class="btn btn-danger" ng-disabled="!context.gsrp.whatToChange"
                                ng-click="confirm()"><span data-lift="Loc.i">Continue</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="context.gsrp.whatToChangeConfirmed" class="confirmation"
                data-lift="ScaleUp.couldChangeHandler">
            <div data-lift="Loc.i" class="hint">Would you did differently?</div>
            <div ng-controller="CouldChangeController" class="hint">
                <button class="btn btn-danger"
                        ng-disabled="roundtripInProgress || context.childLinks.blocking.length > 0"
                        ng-click="couldChange(true)">
                    <span data-lift="Loc.i">Yes</span>
                </button>
                <button class="btn btn-primary"
                        ng-disabled="roundtripInProgress"
                        ng-click="couldChange(false)">
                    <span data-lift="Loc.i">No</span>
                </button>
            </div>
        </div>
        <div class="col-xs-12" ng-show="context.childLinks.blocking.length > 0">
            <div data-lift="Loc.i" class="hint">Subproblems</div>
            <a ng-repeat="item in context.childLinks.blocking" href="{{item}}">
                <span data-lift="Loc.i">Subprocess</span> #{{$index + 1}}</a>
        </div>
    </div>
</div>