<div data-lift="TT.attachMaterial" class="tt ng-cloak">
    <div data-lift="Loc.i">TT Content</div>
    <div auto-save-text="context.body" data-lift="TT.bodyHandler" class="definition section col-xs-12">
        <div class="hint" data-lift="Loc.i" ng-show="context.body">Describe situation</div>
        <div class="status-container">
            <form class="form-horizontal" role="form" name="form">
                <textarea id="body" name="body" class="form-control" rows="6"
                          placeholder="Describe situation"
                          ng-model="context.body" required
                          data-lift="LocAttrs"
                          ng-disabled="context.conclusionConfirmed"></textarea>

            </form>
            <div data-lift="embed?what=auto_save_status"></div>
        </div>
    </div>
    <div data-lift="TT.bodyConfirmHandler" ng-show="!context.bodyConfirmed" class="section">
        <div data-lift="embed?what=process_body_confirmation"></div>
    </div>
    <div ng-show="context.bodyConfirmed" class="section clearfix">
        <div>
            <div class="hint col-xs-6" data-lift="Loc.i">My feelings</div>
            <div class="hint col-xs-6" data-lift="Loc.i">My requirements</div>
        </div>
        <div>
            <div class="col-xs-6" data-lift="TT.myFeelingsHandler" auto-save-text="context.tt.myFeelings">
                <div class="status-container">
                    <form class="form-horizontal" role="form" name="form">
                        <textarea id="feelings" name="feelings" class="form-control" rows="10"
                                  data-lift="LocAttrs" placeholder="My feelings. Help"
                                  ng-model="context.tt.myFeelings" required
                                  ng-disabled="context.conclusionConfirmed"></textarea>
                    </form>
                    <div data-lift="embed?what=auto_save_status"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="status-container" data-lift="TT.myWishesHandler" auto-save-text="context.tt.myWishes">
                    <form class="form-horizontal" role="form" name="form">
                        <textarea id="wishes" name="wishes" class="form-control" rows="10"
                                  data-lift="LocAttrs" placeholder="My requirements. Help"
                                  ng-model="context.tt.myWishes" required
                                  ng-disabled="context.conclusionConfirmed"></textarea>
                    </form>
                    <div data-lift="embed?what=auto_save_status"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-lift="TT.confirmMineHandler" ng-show="context.bodyConfirmed" class="section">
        <div class="clearfix">
            <div ng-show="!context.tt.mineConfirmed" class="confirmation">
                <button class="btn btn-danger" ng-disabled="roundtripInProgress || !context.tt.myFeelings || !context.tt.myWishes"
                        ng-click="sendData({})"><span data-lift="Loc.i">Continue</span>
                </button>
            </div>
        </div>
    </div>
    <div ng-show="context.tt.mineConfirmed" class="section clearfix">
        <div>
            <div class="hint col-xs-6" data-lift="Loc.i">His feelings</div>
            <div class="hint col-xs-6" data-lift="Loc.i">His requirements</div>
        </div>
        <div>
            <div class="col-xs-6" data-lift="TT.hisFeelingsHandler" auto-save-text="context.tt.hisFeelings">
                <div class="status-container">
                    <form class="form-horizontal" role="form" name="form">
                        <textarea id="feelings" name="feelings" class="form-control" rows="10"
                                  data-lift="LocAttrs" placeholder="His feelings. Help"
                                  ng-model="context.tt.hisFeelings" required
                                  ng-disabled="context.conclusionConfirmed"></textarea>
                    </form>
                    <div data-lift="embed?what=auto_save_status"></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="status-container" data-lift="TT.hisWishesHandler" auto-save-text="context.tt.hisWishes">
                    <form class="form-horizontal" role="form" name="form">
                        <textarea id="wishes" name="wishes" class="form-control" rows="10"
                                  data-lift="LocAttrs" placeholder="His requirements. Help"
                                  ng-model="context.tt.hisWishes" required
                                  ng-disabled="context.conclusionConfirmed"></textarea>
                    </form>
                    <div data-lift="embed?what=auto_save_status"></div>
                </div>
            </div>
        </div>
    </div>
    <div data-lift="TT.confirmHisHandler" ng-show="context.tt.mineConfirmed" class="section">
        <div class="clearfix">
            <div ng-show="!context.tt.hisConfirmed" class="confirmation">
                <button class="btn btn-danger" ng-disabled="roundtripInProgress || !context.tt.hisFeelings || !context.tt.hisWishes"
                        ng-click="sendData({})"><span data-lift="Loc.i">Continue</span>
                </button>
            </div>
        </div>
    </div>
    <div data-lift="TT.conclusionHandler" ng-show="context.tt.hisConfirmed"
         auto-save-text="context.conclusion"
         class="clearfix col-xs-12">
        <div class="hint" ng-show="context.conclusion" data-lift="Loc.i">Write out conclusion</div>
        <div class="status-container">
            <form class="form-horizontal" role="form" name="form">
                <textarea id="conclusion" name="conclusion" class="form-control" rows="6"
                          placeholder="Write out conclusion"
                          data-lift="LocAttrs" ng-disabled="context.conclusionConfirmed"
                          ng-model="context.conclusion" required></textarea>
            </form>
            <div data-lift="embed?what=auto_save_status"></div>
        </div>
        <div data-lift="TT.conclusionConfirmHandler" ng-show="!context.conclusionConfirmed"
             class="section clearfix">
            <div>
                <div class="confirmation">
                    <button class="btn btn-danger" ng-disabled="roundtripInProgress || !context.conclusion"
                            ng-click="sendData({})"><span data-lift="Loc.i">Continue</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
<div>
