<div>
    <h1 data-lift="Loc.i">Materials list</h1>

    <div material-list data-lift="Material.list">
        <ul data-lift="Material.removeHandler">
            <li ng-repeat="material in context" ng-class="{'definition': material.definition}">
                <div class="clearfix alert alert-danger alert-dismissable" ng-show="removed">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <span data-lift="Loc.i">Material removed</span>!
                    <a data-lift="Loc.i" class="pull-right" ng-click="restore($event)">restore</a>
                </div>
                <div class="clearfix material" ng-show="!removed">
                    <div class="col-xs-10 formula">
                        {{material.body}}
                    </div>
                    <div class="actions col-xs-2">
                        <div class="modifiedTs" ng-show="!material.definition">
                            #{{$index}} {{material.modifiedTs | date:'dd.MM.yyyy HH:mm:ss'}}
                        </div>
                        <div>
                            <a href="{{material.workoutLink}}" class="btn btn-service" data-lift="Loc.i"
                                    ng-click="workout($event)">Workout</a>
                            <div class="workout-menu-container" style="display: none;" ng-show="displayWorkoutMenu">
                                <div class="workout-menu">
                                    <div data-lift="Loc.i" class="header">select the method</div>
                                    <div>
                                        <span class="btn-group">
                                            <a class="btn btn-primary" data-lift="Loc.i"
                                               ng-href="{{material.ttLink}}">TT</a>
                                            <a class="btn btn-primary" data-lift="Loc.i"
                                               ng-href="{{material.gsrpLink}}">GSRP</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-show="!material.definition" style="display: none;">
                            <a class="btn btn-service red" ng-click="remove($event)" ng-disabled="removing">
                                <i class="icon-spin4 animate-spin" ng-show="removing"></i>
                                <span data-lift="Loc.i">Remove</span></a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
