<resources>
    <res name="Materials list">Список материалов</res>
    <res name="Workout">Проработать</res>
    <res name="Remove">Удалить</res>
    <res name="select the method">выберите метод</res>
    <res name="TT">ТТ</res>
    <res name="GSRP">ГППШ</res>
    <res name="Material removed">Материал удален</res>
    <res name="restore">восстановить</res>

</resources>
