<div>
    <div class="container">
        <div class="row services-header">
            <div class="col-xs-3">
                <a href="/">
                    <img class="img-responsive logo" width="191" height="200" src="/img/logo.png"/>
                </a>
            </div>
            <div class="col-xs-9 service-menu">
                <a data-lift="Service.menu?level=2&recent=true" class="btn btn-service"></a>
            </div>
        </div>
        <div id="section" class="row services-section" section-include="2"></div>
    </div>
</div>
