<resources>
    <res name="Conclusions list">Выводы</res>
    <res name="Remove">Удалить</res>
    <res name="View">Просмотр</res>
    <res name="Material removed">Материал удален</res>
    <res name="restore">восстановить</res>
</resources>
