<div>
    <h1 data-lift="Loc.i">Conclusions list</h1>

    <div material-list data-lift="Material.conclusions" listen-add="false">
        <ul data-lift="Material.removeHandler">
            <li ng-repeat="material in context" ng-class="{'definition': material.definition}">
                <div class="clearfix alert alert-danger alert-dismissable" ng-show="removed">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <span data-lift="Loc.i">Material removed</span>!
                    <a data-lift="Loc.i" class="pull-right" ng-click="restore($event)">restore</a>
                </div>
                <div class="clearfix material" ng-show="!removed">
                    <div class="col-xs-10 formula">
                        {{material.body}}
                    </div>
                    <div class="actions col-xs-2">
                        <div class="modifiedTs" ng-show="!material.definition">
                            #{{$index}} {{material.modifiedTs | date:'dd.MM.yyyy HH:mm:ss'}}
                        </div>
                        <div>
                            <a class="btn btn-service red" ng-click="remove($event)" ng-disabled="removing">
                                <i class="icon-spin4 animate-spin" ng-show="removing"></i>
                                <span data-lift="Loc.i">Remove</span></a>
                        </div>
                        <div>
                            <a class="btn btn-service" ng-href="{{material.workoutLink}}">
                                <span data-lift="Loc.i">View</span></a>
                        </div>
                    </div>
                    <div class="col-xs-10 formula conclusion">
                        {{material.conclusion}}
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
