@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:700&subset=latin,cyrillic');
@import "mixins";
@import "bootstrap/variables";
@import "variables";

/*
 * Styles
 */

.site-header {
  padding: 20px 0px 0px;
}

.user-menu {
  float: right;
  padding: 5px 0px;

  .btn {
    padding: 0px 5px;
  }
}

.modal-header {
  h4 {
    margin: 0px;
  }
}

body.modal-open {
  margin-right: 0px;
  overflow: auto;
}

body {
  .radialGradientBackground(#e6e879, #c3c556);
  min-width: 700px;
}

.modal {
  overflow-y: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}

.btn, a {
  .transition(all 0.2s ease);
}

.btn-link, a {
  color: #fff;
  &:hover {
    color: #8d8f37;
  }
}

.header-shaddow {
  .text-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
}

.index {
  font-size: 1.1em;
  h1, div {
    border-width: 3px;
  }
  h1 {
    border-bottom: solid;
    padding-bottom: 7px;
    margin-bottom: 25px;
    letter-spacing: -2px;
    text-align: center;
    .header-shaddow();
  }
  padding-bottom: 30px;
}

.index-1 {
  color: #878e49;
  div.about {
    background-image: url("/img/about.png");
    background-repeat: no-repeat;
    background-position: 0 14px;
    min-height: 244px;
    padding-left: 124px;
  }
  h1 {
    color: white;
    margin-left: -24px;
  }
}

.index-2 {
  color: #878e49;
  background: fade(#ffffcc, 30%);
  padding-bottom: 0px;
  h1 {
    color: #bec05e;
    border-color: #cccc66;
    .header-shaddow();
  }
  .video {
    text-align: center;
  }
  .video, .video-text {
    padding-bottom: 30px;
  }
}

.index-3 {
  color: #f6f3d6;
  background: fade(#8d8f37, 30%);
  h1 {
    color: #f6f3d6;
    border-bottom: none;
  }
  .author {
    padding-left: 40px;
    margin-top: 20px;
    border-left: solid;
    border-color: #bec05e;
  }
}

.footer {
  .container {
    border-top: #878e49 solid 3px;
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 30px;
  }
  .copy, a.up img {
    display: inline-block;
    vertical-align: top;
  }
  div.copy {
    color: @text-color;
    padding-left: 10px;
    padding-top: 3px;
  }
}

.login-window {
  position: relative;
  @witdh: 350px;
  .popover {
    max-width: @witdh;
    width: @witdh;
    right: 0px;
    left: auto;
    top: 100%;

    .btn-link {
      color: #878e49;
    }
    .alert {
      margin-bottom: 0px;
    }
    .alert-danger {
      a {
        font-weight: bold;
        color: desaturate(@alert-danger-text, 20%);
        &:hover {
          color: @alert-danger-text;
        }
      }
    }
  }
}

.btn-service {
  .box-shadow(inset 0 0 20px rgba(105, 117, 29, 0.37));

  color: #fff;
  background-color: @btn-color;
  border: 1px solid #f6f3d6;
  .border-radius(5px);
  position: relative;
  overflow: hidden;

  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 1.5em;

  margin-right: 1%;

  &:hover {
    background-color: #d0d263;
    color: #efe;
  }

  &.active {
    .box-shadow(0 0 20px #fafd6d);
    border-color: #f6f3d6;
    background-color: #ffffff;
    color: #b6b94d;
    cursor: default;
  }

  &.red {
    background-color: @red-color;
    &:hover {
      background-color: lighten(@red-color, 15%);
    }
  }

  .bg-icon {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 50px;
    .opacity(0.2);
  }

  .bg-icon.reflect-x {
    .scaleX(-1);
  }
}

.services-header {
  position: relative;
  height: 200px;

  .service-menu {
    position: relative;
    margin-top: 20px;

    .btn-service {
      width: 23%;
      line-height: 34px;
      height: 52px;
    }
  }
}

@media (min-width: 0) {
  .services-header {
    .service-menu {
      .btn-service {
        font-size: 1em;
      }
    }
  }
  .services-section {
    .service-menu {
      .btn-service {
        span {
          display: none;
        }
      }
      .bg-icon {
        top: 7px;
        left: 50%;
        margin-left: -15px;
        font-size: 30px;
        .opacity(0.2);
      }
      .tooltip {
        font-size: 1.1em;
      }
    }
  }
}

@media (min-width: @screen-desktop) {
  .services-header {
    .service-menu {
      .btn-service {
        font-size: 1.5em;
      }
    }
  }
}

@media (min-width: @screen-lg) {
  .services-section {
    .service-menu {
      .btn-service {
        span {
          display: inline;
        }
        .bg-icon {
          left: 10px;
          margin-left: 0px;
        }
      }
      .tooltip {
        visibility: hidden;
      }
    }
  }
}

.services-section {
  .service-menu {
    a {
      width: 100%;
      margin-bottom: 10px;
    }
    .btn-service {
      font-size: 1.1em;
      text-align: left;
      text-transform: none;
      padding-left: 50px;
      height: 52px;
      line-height: 34px;
    }
  }

  h1 {
    color: #a3240a;
    border-bottom: #f6f3d6 solid 2px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    padding-left: 20px;
  }

  color: @text-color;

  #subsection {
    position: relative;
    top: -5em;
  }

  hr {
    border-width: 2px;
  }
}

.modal-dialog {
  .bg-icon {
    display: none;
  }
}

.status-container {
  position: relative;

  .status {
    margin-top: 10px;
    padding: 10px;

    position: absolute;
    bottom: 0px;
    width: 100%;

    .alert {
      margin-bottom: 0px;
      padding: 5px;
    }
  }
}

img.logo {
  margin-left: auto;
  margin-right: auto;
}

.service-section-menu.affix {
  padding: 0 15px;
  margin-left: -15px;
  margin-top: -200px;
}

@media (min-width: @screen-phone) {
  .service-section-menu.affix {
    width: 0.25 * @container-tablet;
  }
  .scale_up .estimation .btn-group button {
    padding: 4px 6px;
  }
}
@media (min-width: @screen-desktop) {
  .service-section-menu.affix {
    width: 0.25 * @container-desktop;
  }
  .scale_up .estimation .btn-group button {
    padding: 6px 10px;
  }
}
@media (min-width: @screen-lg-desktop) {
  .service-section-menu.affix {
    width: 0.25 * @container-lg-desktop;
  }
  .scale_up .estimation .btn-group button {
    padding: 8px 12px;
  }
}

textarea {
  resize: none;
}
