@import "mixins";
@import "variables";

.material-list {
  ul {
    padding: 0px;
    li {

      display: block;

      .alert {
        a {
          color: #b94a48;
        }
      }

      .material {
        background-color: @btn-color;
        padding: 10px;
        margin-bottom: 20px;
        .border-radius(5px);

        &.definition {
          background-color: darken(@btn-color, 10%);
        }

        .modifiedTs {
          color: #ffffff;
          font-size: 0.8em;
          .text-shadow(0 1px 3px rgba(0, 0, 0, 0.5));
          margin-bottom: 5px;
        }

        .workout-menu-container {
          position: relative;
          z-index: 100;
        }

        .workout-menu {
          position: absolute;
          background: #fff;
          padding: 10px;
          padding-top: 5px;
          .drop-shadow(@x: 2px, @y: 2px);

          .border-radius(5px);
          text-align: center;

          .header {
            margin-bottom: 3px;
          }
        }

        div {
          padding: 0px;
        }

        .formula {
          min-height: 7em;
          background-color: #fff;
          padding: 5px;
          padding-left: 10px;
          padding-right: 10px;
          color: lighten(#000, 20%);
          overflow: hidden;
          .border-radius(5px);
        }
        .formula.conclusion {
          margin-top: 10px;
        }
        .actions {
          padding-left: 10px;
          .btn-service {
            font-size: 1em;
            padding: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}