.definition, .scale_up, .tt {
  .hint, .section {
    margin-bottom: 10px;
  }

  h1 {
    a {
      font-size: 0.8em;
    }
  }
  .complete-definition {
    margin-top: 5px;
    margin-bottom: 5px;
    a {
      font-size: 1.4em;
    }
  }
  .estimation, .confirmation {
    text-align: center;
    margin-top: 10px;

    .hint {
      font-size: 1.2em;
    }

    .btn.active {
      font-size: 150%;
    }

    .btn-group {
      height: 50px;
      .btn:hover {
        font-size: 150%;
      }
   }
  }
}
