<resources>
    <res name="Describe initial">Опишите момент достижения цели, когда это происходит, где, участники, непосредственно действие, а также ваши эмоции.</res>
    <res name="Error. Save your data">Внимание: Произошла ошибка при сохранении МВЗ. Скопируйте текст в буфер обмена и обновите страницу.</res>
    <res name="No current user">Вы не вошли в систему - изменения не будут сохранены</res>
    <res name="Complete definition">Завершить формулировку МВЗ</res>
    <res name="Do estimate">Оцените свой МВЗ по шкале от 0 до 10</res>
    <res name="Think again">А теперь подумайте, что нужно добавить, убрать или изменить в вашем МВЗ, что бы он был на плюс десять и перепешите его с этими изменениями</res>
    <res name="Look and confirm">А теперь посмотрите на ваш МВЗ и ответьте искренне, зная себя, свои возможности и недостатки, в реальной жизни, будет именно так?</res>
    <res name="No">Нет</res>
    <res name="Yes. Exactly!">Будет именно так!</res>
    <res name="Add">+ Добавить еще</res>
    <res name="Remove">- Удалить</res>
    <res name="Describe positive">Опишите позитивные характеристики</res>
    <res name="Describe positive. Help">Какие мои позитивные характеристики могут способствовать моему достижению цели (Какие позитивные характеристики я демонстрировал в этой области)</res>
    <res name="Describe negative">Опишите негативные характеристики</res>
    <res name="Describe negative. Help">Какие негативные характеристики я демонстрировал в этой области в прошлом?</res>
    <res name="Negative estimation">Насколько данная черта влияет на достижение цели? -10 (полностью блокирует движение к цели), 0 (никак не влияет)</res>
    <res name="Positive estimation">Насколько данная черта влияет на достижение цели? 0 (не влияют и не проявляются в этой области) до +10 (полностью способствует движению к цели)</res>
    <res name="Describe what will really happen">Почему вы считаете что не достигнете МВЗ?</res>

</resources>
