<resources>
    <res name="Select area of life">Выбери область жизни, которая нуждается в проработке. Что меня огорчает или
        расстраивает в этой области? или Какое нежелательное состояние (стыд, сожаление, обида, желание обвинять других)
        возникает, когда я направляю свое внимание на эту область? Где такое состояние было раньше? Опиши этот момент
        времени: Где, когда, кто участвовал, что произошло?
    </res>

    <res name="Get back to the moment">Вернитесь в этот момент прошлого и перепроживите это событие. Что бы вы сделали
        по другому?
    </res>

    <res name="What you need to change?">Что нужно что бы вы смогли сделать сделать это изменение. Может быть, нужно
        что-то изменить, убрать или добавить
        в какой-то более ранний момент времени? Опишите этот момент
    </res>

    <res name="What feelings">Какие возникают от этого чувства? Опишите ваши эмоции.</res>
    <res name="What feelings. Help">Перепроживите вышеописанную ситуацию. И выпишите все эмоции, чувства которые
        возникают, можно это сделать последовательно, по ходу развития ситуации. Не путайте чувства с суждениями и
        выводами. Например: "Я чувствую что он меня игнорирует" - это не описание чувств, это вывод, суждение.
        Корректней сказать: "Когда мне кажется, что он меня игнорирует, я испытываю обиду, злость и т.д. и т.п.".
        Выпишите наиболее полный список ваших эмоций в этой ситуации.
    </res>

    <res name="What wishes">Какие потребности и ожидания в этом событии остаются неудовлетворенными?</res>
    <res name="What wishes. Help">Сюда необходимо записать все СВОИ неудолетворенные потребности, ожидания,
        желания и намерения. Ответить на вопрос: почему я чувствую эти эмоции?
    </res>

    <res name="Estimate">Оцените это событие по шкале от -10 до 10</res>

    <res name="What is most unpleasant">Что в этом событии самое неприятное?</res>
    <res name="What is most unpleasant. Help">Опишите самый неприятный момент в описанной ситуации. Это необходимо для
        фокусирование на каком-то элементе ситуации. Там где заряд сильнее всего.
    </res>


    <res name="What would you did differently">Если бы ты мог изменить это событие, что бы ты сделал в нем по-другому?
    </res>
    <res name="What would you did differently. Help">Опишите что бы вы сделали в нем по другому. Это должно быть
        реальное изменение (вы не можете стать суперменом или русалочкой или летать, видеть сквозь стены). Только если
        не остается никаких вариантов, вы можете сделать " не реальное" изменение, но вы должны стараться избегать
        этого. Ведь вы стараетесь извлечь опыт из реальной жизни, а не из вселенной супергероев.
    </res>

    <res name="Would you did differently?">И если бы ты вернулся в это событие, смог бы ты сделать это изменение?</res>

    <res name="Yes">Да!!!</res>
    <res name="No">Нет...</res>

    <res name="Return">А теперь вернись в этот прошлый момент и перепроживи его с учетом того что бы ты сделал в нем по
        другому. Опиши это событие, так как если бы оно происходило в реальности.
    </res>
    <res name="What you need to change">Что нужно для того, чтобы ты смог сделать это изменение? Может быть, нужно
        что-то изменить, убрать или добавить в какой более ранний момент времени? Опишите эту ситуацию.
    </res>

    <res name="Write out conclusion">Запишите вывод</res>

    <res name="Subprocess">Подпроцесс</res>
    <res name="Subproblems">Нерешенные подпроцессы</res>

</resources>
