<resources>
    <res name="Describe situation">
        Описываем ситуацию. Что, где, когда, кто, что произошло. Необходимо описать максимально объективно ситуацию. Без
        оценок суждений, выводов.
    </res>

    <res name="My feelings">Выпишите все эмоции, чувства, которые возникают у вас в этой ситуации.</res>
    <res name="My feelings. Help">Перепроживите вышеописанную ситуацию. И выпишите все эмоции, чувства которые
        возникают, можно это сделать последовательно, по ходу развития ситуации. Не путайте чувства с суждениями и
        выводами. Например: "Я чувствую что он меня игнорирует" - это не описание чувств, это вывод, суждение.
        Корректней сказать"Когда мне кажется, что он меня игнорирует, я испытываю обиду, злость и т.д. и т.п." Выпишите
        наиболее полный список ваших эмоций в этой ситуации.
    </res>

    <res name="My requirements">Выписываем наши потребности, которые не удовлетворяются в это ситуации.</res>
    <res name="My requirements. Help">
        Сюда необходимо записать все СВОИ неудолетворенные потребности, ожидания, желания и намерения. Ответить на
        вопрос: почему я чувствую эти эмоции?
    </res>

    <res name="His feelings">Выпишите эмоции, оппонета</res>
    <res name="His feelings. Help">Что чувствовал опоннент?</res>

    <res name="His requirements">
        Выпишите потребности другого человека в этой ситуации, почему он чувствует эти эмоции, что не удовлетворяется у
        него.
    </res>
    <res name="His requirements. Help">
        Посмотрите на его эмоции, чувства и напишите, а почему он их чувствует, что бы он желал, что бы произошло. Какие
        его потребности не удовлетворенны.
    </res>
    <res name="Make conclusion">
        Теперь посмотрите на все что вы написали и попробуйте сделать вывод почему эта ситуация произошла, как можно
        было бы ее решить по другому. Посмотрите, сможете ли вы удовлетворить потребности другого человека, сможет ли он
        удовлетворить ваши.
    </res>

    <res name="Write out conclusion">Запишите вывод</res>

</resources>
